<!DOCTYPE html>
<html lang="en" xmlns:th="https:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
<div class = "form">
    <h1>Customer Details <span th:text="${customer}"/></h1>
    <p>name : <span th:text="${name}"/></p>
    <p>branch : <span th:text="${branch}" /></p>
    <p>mobile number : <span th:text="${mobilenumber}" /></p>
    <p>acc no : <span th:text="${accno}" /></p>
    <p>balance: <span th:text="${balance}"/></p>
</div>

</body>
</html>